html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

.no-display {
    display: none;
}

.content {
    flex: 1 0 auto;
    padding-bottom: 60px;
}

/* banner image container */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto
}
.crop-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
} 
.crop-container img {
    margin: -100px 0 -50px 0; 
}

/* banner texts */
.banner-text {
    width: auto;
    margin-left: 16px;
    position: absolute;
    top: 50px;
    font-family: "lucida console", monospace;
}
.banner-title {
    font-size: 52px;
    font-weight: bold;
}
.banner-subtitle {
    margin-top: 20px;
    font-size: 22px;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.topnav li {
    float: left;
    border-right: 1px solid #444
}
.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px
}
.topnav li a:hover:not(.active) {
    background-color: #111;
}
.topnav li a.active {
    background-color: purple;
}
.topnav li.right {
    float: right;
    border-left: 1px solid #666
}
.active {
    background-color: purple
}
.right {
    float: right
}

/* title and texts */
.title {
    text-align: center
}
.text-box {
    padding: 20px 0;
}
.text {
    font-size: 18px;
    text-align: justify;
}
.text-bold {
    font-size: 22px;
    font-weight: bold
}

.terms-box {
    margin: 20 auto;
    padding: 20px 40px 40px 40px;
    background-color: #f6f6f6;
    border: 2px solid #ddd
}
/* terms of use checkbox label */
.check-label {
    font-size: 16px;
    font-weight: bold
}
/* rescale terms of use checkbox */
input[type=checkbox] {
    transform: scale(1.25);
}

/* buttons */
.btn-center {
    text-align: center;
    margin-top: 40px;
}
.start-btn {
    width: 180px;
    height: 50px;
    background-color: purple;
    color: white;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    opacity: 0.5;
}
button:hover {
    border: 5px solid #333;
    cursor: pointer
}
button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px purple;
    font-size: 16px;
    color: purple;
    font-weight: bold;
    cursor: pointer
}
button.choose-file-button:hover {
    border: solid 4px purple
}
button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 2px black;
    border-radius: 2px;
    background-color: purple;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer
}
button.analyze-button:hover {
    border: 4px solid black
}
button:focus {
    outline: 0;
}

/* tooltip/info button */
.info-btn {
    margin: 0;
    padding: 0;
    position: relative;
    top: 8px;
    left: 12px;
    font-size: 42px;
    font-weight: bold;
    color: purple;
    cursor: pointer
}
.info {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.info .info-text {
    visibility: hidden;
    width: 165px;
    background-color: black;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -90px;
}
.info .info-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.info:hover .info-text {
    visibility: visible;
}

/* /analyse/result container box */
.result-container {
    padding-top: 20px;
    text-align: center
}
.result-container p {
    font-size: 24px;
    font-weight: bold
}

/* upload, analyse and result texts */
.analyze {
    margin-top: 3em;
}
.upload-label {
    padding: 10px;
    font-size: 14px;
}
.result-label {
    margin-top: 20px;
    font-size: 18px;
}

/* media query for mobile (<600px) */
@media screen and (max-width: 600px) {
    .crop-container {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .crop-container img {
        margin: 0 0 -10px 0;
    }
    ul.topnav li.right, 
    ul.topnav li {
        float: none;
        border-bottom: 1px solid #444;
    }
    ul.topnav li a {
        font-size: 14px
    }
    ul.topnav li :hover:not(.active) {
        background-color: #111;
    }
    ul.topnav li .active {
        background-color: #4CAF50;
    }
    .banner-text {
        margin-left: 16px;
        position: absolute;
        top: 85px;
    }
    .banner-title {
        font-size: 22px;
    }
    .banner-subtitle {
        font-size: 13px;
    }
    .text {
        font-size: 16px
    }
    .check-label {
        font-size: 20px;
        font-weight: bold;
        color: purple;
    }
    .checkbox {
        color: purple
    }
    .result-container p {
        font-size: 18px;
        padding: 0 20px
    }
    .info .info-text {
        margin-left: -120px;
    }
}

/* footer styles */
.footer {
    flex-shrink: 0;
    height: 50px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-top: 2px solid #333;
    background-color: #f6f6f6
}
.footer p {
    color: #333;
    text-align: center;
    font-size: 16px
}
@media screen and (max-width: 600px) {
    .footer p {
        font-size: 13px
    }
}