extends layout.pug

block content 

    -var active_page = 'home'

    .text-box
        p.text This is an experimental application designed to classify images of skin lesions as either showing a benign nevus (mole) or a malignant melanoma. The application has an accuracy of around 88% in correctly classifying skin lesions as benign or malignant and is the subject of ongoing research and development.

        p.text Please note tht this app is purely for demonstration and experiment and is not intended or designed to provide any form of medical diagnosis or advice. If you are concerned about a skin lesion, it should be reviewed by a qualified doctor as soon as possible and no guidance whatsoever should be taken from this app.

        .terms-box
            h2.title Terms of Use
            p.text I will NOT use this app for any form of medical diagnosis or advice.
            form
                table
                    tbody
                        tr
                            td(style="width: 30px")
                                input(id="termscheck" class='checkbox' type='checkbox' onclick='termsChecked()')
                            td
                                span.check-label I understand and agree to the terms of use

            div(id='btn-center' class='btn-center' style="pointer-events: none")
                a(href='/analyze')
                    button(id='start-btn' class='start-btn' type='button') Get started